.error {
    color:red;
    margin-bottom: 10px;
}
.login .mb-4, .my-4 {
    margin-bottom: 0.5rem !important;
}
.animated {
    margin-top: 50px;
}
.badge {
    cursor: pointer;
}
.create-header {
    background-color: white;
    padding: 20px;
    margin-bottom: 22px;
    font-weight: bold;
}